@media screen and (max-width: 1600px) {
    .comp-section{
        padding: 25px;
    }
    
    .comp-section h1{
        text-align: center;
        font-size: 2rem;
    }
    
    .comp-grille{
        margin:50px 0;
        display: flex;
        justify-content:none;
        flex-direction: column;
    }

    .grille-container {
        text-align: center;
        justify-content: center;
    }
    
    .note {
        margin: auto;
    }
}

@media screen and (max-width: 500px) {
    .note{
        width: 300px;
    }

    .note .a{
        width: 250px;
    }
    
    .note .b{
        width: 195px;
    }
    
    .note .c{
        width: 255px;
    }
    
    .note .d, .f{
        width: 240px;
    }
    
    .note .e{
        width: 150px;
    }

}