@media screen and (max-width: 1600px) {
    .comp-section{
        padding: 25px;
    }
    
    .comp-section h1{
        text-align: center;
        font-size: 2rem;
    }
    
    .comp-grille{
        margin:15px 0;
        display: flex;
        justify-content:none;
        flex-direction: column;
    }

    .grille-container {
        text-align: center;
        justify-content: center;
    }
    
    .note {
        margin: auto;
    }
}

@media screen and (max-width: 800px) {
    .note{
        width: 400px;
    }

    .note .a{
        width: 300px;
    }
    
    .note .b{
        width: 260px;
    }
    
    .note .c{
        width: 340px;
    }
    
    .note .d, .f{
        width: 320px;
    }
    
    .note .e{
        width: 200px;
    }

}