.navigation {
    position: fixed;
    height: 100vh;
    width: 300px;
    text-align: center;
    align-items: center;
    background-color: #333;
    transition: 0.5s;
    z-index: 99999;
}

.PP{
    margin-top:10px;
    display: none;
}

.fa-address-book{
    color: rgb(221, 221, 221);
    font-size: 6rem;
}

.bloc-menu:nth-child(1){
    width: 100%;
    height: 30%;
}

.bloc-menu{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: center;
    font-size: 1.3rem;
    cursor:default;
    margin-top: 50px;
}

.bloc-menu:nth-child(3){
   margin-top: 70px !important
}

.photo-profil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

li:hover , .fa-address-book:hover{
    color: white;
    cursor: pointer;
}